# Systemd service configuration for the Theo robot runtime
#
# To install:
# 1) Copy this file into the systemd area:
#    sudo cp pyPiBot.service /lib/systemd/system/
# 2) Refresh system cache for services:
#    sudo systemctl daemon-reload
# 3) Make the service start on boot:
#    sudo systemctl enable pyPiBot.service
# 4) Start the service now:
#    sudo service pyPiBot start
#
# Quick Reference:
# start service   : sudo service pyPiBot start
# restart service : sudo service pyPiBot restart
# stop service    : sudo service pyPiBot stop

[Unit]
Description=Theo Generative AI Robot Assistant
After=network.target sound.target

[Service]
ExecStart=/home/pi/workarea/pyPiBot/.venv/bin/python /home/pi/workarea/pyPiBot/main.py \
  --prompts "Say Hello World! or whatever fun salutation you prefer"
ExecStop=/bin/kill -SIGTERM $MAINPID
WorkingDirectory=/home/pi/workarea/pyPiBot/
EnvironmentFile=-/etc/environment
Environment="XDG_RUNTIME_DIR=/run/user/1000"
StandardOutput=append:/home/pi/workarea/pyPiBot/log/pyPiBot.log
StandardError=append:/home/pi/workarea/pyPiBot/log/pyPiBot-error.log
User=pi
Restart=always

[Install]
WantedBy=multi-user.target
